.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: 1px solid var(--light-gray-border);
  background-color: #faf9fe;
/*   position: fixed;
  top: 0; */
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
 
background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.link {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.active-link {
  color: var(--primary-color);
  background-color: var(--primary-lightest-color);
}

.brand-logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-login {
  border: 1px solid var(--light-gray-border);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn-signup {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.auth-btns {
  gap: 1rem;
  
}





@media screen and (max-width: 500px) {
  .link {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: baseline;
  }
  .auth-btns {
    gap: 10px;
  }
  .navbar{
     flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 400px) {

  .btn-signup,
  .btn-login {
    display: none;
  }
}
